* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-align: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
header {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 2rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(red, green, blue, 1);
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #131313;
}

header .logo i {
  padding-right: 0.5rem;
  color: var(--red);
}

header #navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: #f7df1e;
}

header #navbar a:hover {
  color: var(--red);
}

body {
  background: #fce534;
}
p {
  max-width: 750px;
  margin-bottom: 30px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 3rem;
  color: rgb(5, 5, 5);
}

h2 {
  color: rgb(33, 31, 26);
  margin: 30px 0 30px 0;
  font-weight: bolder;
  font-size: 2rem;
}

figure {
  margin-bottom: 20px;
  border-radius: 30px;
}

p {
  justify-content: center;
  text-align: justify;
  font-size: 1.4rem;
  word-spacing: 1px;
  color: rgb(34, 36, 34);
}
